<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BD's Status</title>
    <link rel="stylesheet" href="/styles/bulma.min.css" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Servidor</p>
              <p class="title"><%= server %></p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">BD's</p>
              <p class="title"><%= bd.length %></p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">ONLINE</p>
              <p class="title"><%= active %></p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">OFFLINE</p>
              <p class="title"><%= bd.length-active %></p>
            </div>
          </div>
        </nav>
      </div>
    </section>

    <section class="section">
      <div class="field is-grouped is-grouped-multiline">
        <% bd.forEach((bd) => { %>
        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-medium" style="width: 300px">
              <%= bd.name.toUpperCase() %>
            </span>
            <% if (bd.status === 'ONLINE') {%>
            <span class="tag is-medium is-primary" style="width: 100px"
              ><%= bd.status %></span
            >
            <% } else {%>
            <span class="tag is-medium is-danger" style="width: 100px"
              ><%= bd.status %></span
            >
            <% } %>
          </div>
        </div>
        <% });%>
      </div>
    </section>
  </body>
</html>
